.app {
    margin: auto;
    padding: 24px;
    width: 600px;
    border: 2px solid black;
}

.record {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid blue;
    margin: 8px;
}
